*{
    margin: 0%;
}
#countdown {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    
}
h1{
    text-align: center;
}
.container{
    background-color: aquamarine;
    width: 80vw;
    height: 70vh;
    width: 100vw;
    height: 100vh;
    
}